{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('{{url_for('static', filename='img/contact-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Статьи</h1>
            <span class="subheading">Все актуальные новости</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

  {% for post in posts %}
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}...
            </h3>
          </a>
          <p class="post-meta">Автор статьи
            <a href="/blogs/{{post.author}}">{{post.author}}</a>
            в {{post.date}}</p>
        </div>

        {% endfor %}



<!-- Pager -->
<div class="clearfix">
          <a class="btn btn-primary float-left" href="{{prev}}">&rarr; Назад</a>
          <a class="btn btn-primary float-right" href="{{next}}">Далее &rarr;</a>
        </div>
      </div>
    </div>
  </div>
 {% endblock %}
