{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Тут происходит вся магия!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{message | safe}}
        <h1>Доступные функции</h1>
       <a href="/edit/0"> <button class="btn btn-primary">Сделать новый пост</button></a>
       <a href="/logout"> <button class="btn btn-primary">Выйти с аккаунта</button></a>

        <hr>
        <h1>Загрузить файл</h1>
        <form action="/uploader" method="post" enctype = 'multipart/form-data'>
          <input type="file" name="file1">
          <button class="btn btn-primary" type="submit">Принять</button>
        </form>
        <br>
        <h1>Отредактировать статью</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Дата</th>
        <th>Автор</th>
        <th>Редактировать</th>
        <th>Удалить</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts%}
      <tr>
        <td>{{post.serial_no}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>
        <td>{{post.author}}</td>
        <td><a href="/edit/{{post.serial_no}}"><button class="btn btn-primary">Редактировать</button></a></td>
        <td><a href="/delete/{{post.serial_no}}"><button class="btn btn-primary">Удалить</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Следующие статьи &rarr;</a>
        </div>
        <br><br>

      {% if session['role'] == 'admin' %}
        <table class="table">
          <thead>
            <tr>
              <th>Номер</th>
              <th>Логин</th>
              <th>Дата рег.</th>
              <th>Роль</th>
              <th>Удалить</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users%}
            <tr>
              <td>{{user.serial_no}}</td>
              <td>{{user.username}}</td>
              <td>{{user.reg_date}}</td>
<!--              <td>{{user.role}}</td>-->
              <td>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user.role}}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/change-role/{{user.serial_no}}/admin">admin</a>
                    <a class="dropdown-item" href="/change-role/{{user.serial_no}}/user">user</a>
                    <a class="dropdown-item" href="/change-role/{{user.serial_no}}/editor">editor</a>
                  </div>
                </div>
              </td>
              <td><a href="/delete-user/{{user.serial_no}}"><button class="btn btn-primary">Удалить</button></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %}

        <!-- Pager -->

      </div>
    </div>
  </div>
  {% endblock %}
