{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Admin Panel</h1>
            <span class="subheading">Добавление/редактирование статьи</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          {{message | safe}}
        <h1>Доступные функции</h1>
        <a href="/dashboard"> <button class="btn btn-primary">АдминПанель</button></a>
       <a href="/logout"> <button class="btn btn-primary">Выйти с аккаунта</button></a>
       <hr>

       <form name="sentMessage" id="contactForm" method='post' action='/edit/{{serial_no}}' novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Название" id="title" name = 'title' value="{{post.title}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Tag Line</label>
              <input type="longtext" class="form-control" placeholder="Краткое описание" id="tline" name = 'tline' value="{{post.tagline}}">
              <p class="help-block text-danger"></p>
            </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Slug</label>
              <input type="text" class="form-control" placeholder="Ссылка на статью (только буквы латинского алфавита)" id="slug" name = 'slug' value="{{post.slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <textarea id='editor1' name='content' rows='10' columns='25'>{{post.content}}</textarea>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>Image file</label>
              <input type="text" class="form-control" placeholder="Файл картинки" id="img_file" name = 'img_file' value="{{post.img_file}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <!--{{post.content}} -->
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Отправить</button>
          </div>
        </form>

      </div>
    </div>
  </div>
  {% endblock %}
