{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/home-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Noticias</h1>
            <span class="subheading">Актуальные новости в сфере IT</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

  <!-- TODO: fetching using for looop-->
  {% for post in posts %}
        <div class="post-preview">
          <a href="/post/{{post.slug}}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.tagline}}...
            </h3>
          </a>
          <p class="post-meta">Автор статьи
            <a href="/blogs/{{post.author}}">{{post.author}}</a>
            в {{post.date}}</p>
        </div>

        {% endfor %}

  {% endblock %}
