<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Новостной блог</title>

  <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link rel="icon"
      type="image/png"
      href="{{url_for('static', filename='img/favicon.ico')}}">
  <link href="{{url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">

  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <link href="{{url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Noticias</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Меню
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">На главную</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogs">Статьи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Обратная связь</a>
          </li>
          {% if session['auth'] == True %}
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="/logout">Здравствуйте, {{session["user"]}}</a>-->
<!--          </li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Здравствуйте, {{session["user"]}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/logout">Выйти</a>
        </div>
      </li>

              {% if session['role'] == 'admin' or session['role'] == 'editor'%}
                  <li class="nav-item">
                    <a class="nav-link" href="/dashboard">АдминПанель</a>
                  </li>
              {% endif %}
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/login">Войти</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

{% block body %} {% endblock %}



    <hr>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="{{par['twitter_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="{{par['fb_url']}}" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; V.G. 2020</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
  <script type="text/javascript">
                        CKEDITOR.replace( 'editor1' );
                </script>
  <script src="{{url_for('static', filename='js/clean-blog.min.js')}}"></script>

</body>

</html>
