{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{url_for('static', filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Авторизация пользователя</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-10 mx-auto">
          {{alertbox | safe}}
        <div class="login-form">
            <form action="/login" method="post">
                <h2 class="text-center">Авторизация</h2>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Логин" required="required" name="username" id="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Пароль" required="required" name="password" id="password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                </div>
                <div class="clearfix">
                    <label class="pull-left checkbox-inline"><input type="checkbox"> Запомнить меня</label>
                </div>
            </form>
            <p class="text-center"><a href="/register">Зарегистрироваться</a></p>
        </div>

      </div>
    </div>
  </div>

 {% endblock %}
