<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login to admin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/sign-in/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <link href="{{url_for('static', filename='css/login.css')}}" rel="stylesheet">
  </head>
  <body class="text-center">
    <form class="form-signin" action="/dashboard" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
      <label for="usrname" class="sr-only">User name</label>
      <input type="text" name="usrname" id="usrname" class="form-control" placeholder="Логин" required autofocus>
      <label for="pwd" class="sr-only">Password</label>
      <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Пароль" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Запомнить меня
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      <p class="mt-5 mb-3 text-muted">&copy; V.G. 2020</p>
    </form>
      </body>
</html>
