{% extends "layout.html" %}
{% block body %}
  <!-- Post Header -->
  {% set fname= 'img/' +post.img_file %}
  <header class="masthead" style="background-image: url('{{url_for('static', filename=fname)}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{post.title}}</h1>
            <h2 class="subheading">{{post.tagline}}</h2>
            <span class="meta">Автор статьи
              <a href="/blogs/{{post.author}}">{{post.author}}</a>
              в {{post.date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{post.content | safe}}
        </div>
      </div>
    </div>
  </article>
      <div class="row bootstrap snippets" style="width: 99%">
          <div class="col-md-4"></div>
      <div class="col-md-4 col-md-offset-4 col-sm-12" >
          <div class="comment-wrapper">
              <div class="panel panel-info">
                <hr>
                  <div class="panel-heading">
                      Комментарии
                  </div>
                  <div class="panel-body">
                    <form action="/post/add-comment/{{post.serial_no}}" method="post" novalidate>
                      <input type="hidden" value="{{post.slug}}" name="post.slug" id="post.slug">
                      <input type="hidden" value="{{session['user']}}" class="input-group" id="nickname" name="nickname">
                      <textarea class="form-control" placeholder="Текст комментария..." rows="3" id="text" name="text"></textarea>
                      <br>
                        {% if session['auth'] == True %}
                            <button class="btn btn-info pull-right" type="submit">Отправить</button>
                        {% else %}
                            <button class="btn btn-info pull-right" disabled type="submit">Что-бы оставить комментарий необходимо войти</button>
                        {% endif %}
                      </form>
                      <div class="clearfix"></div>
                      <hr>
                      <div class="panel-heading">
                       Всего комментариев: {{amount_of_comments}}
                        {% if amount_of_comments == 0 %}
                          Будьте первым!
                        {% endif %}
                      </div>
                      <hr>
                      <ul class="media-list">

                        {% for comment in post.comments %}
                        <li class="media">
                              <a href="#" class="pull-left">
                                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                              </a>
                              <div class="media-body">
                                  <span class="text-muted pull-right">
                                      <small class="text-muted">{{comment.date}}</small>
                                  </span>
                                  <strong class="text-success">{{comment.login}}</strong>
                                  <p>
                                      {{comment.text}}
                                  </p>
                              </div>
                          </li>
                        {% endfor %}
                      </ul>
                  </div>
              </div>
          </div>

        </div>
      </div>


  {% endblock %}
